.exoplanet-viewer-container {
  width: 90%;
  margin: 50px auto;
  font-family: 'Arial', sans-serif;
  text-align: center;
}

.exoplanet-viewer-container svg {
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}

.exoplanet-viewer-container h2 {
  margin-bottom: 20px;
}

.exoplanet-viewer-container text {
  font-size: 12px;
}
